@import "tailwindcss";

:root {
  --primary: #afcb1e;
  --secondry: #119dd2;
  --primary-dark: #445116;
  --secondry-dark: #068AC3;
  --light-bg: #ecf5a1;
  --montserrat: "Montserrat", sans-serif;
  --inter: "Inter", sans-serif;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondry: var(--secondry);
  --color-primary-dark: var(--primary-dark);
  --color-secondry-dark: var(--secondry-dark);
  --color-light-bg: var(--light-bg);
  --font-montserrat: var(--montserrat);
  --font-inter: var(--inter);
}

section{
  position: relative;
  width: 100%;
  padding: 60px 0;
}

a,h1,h2,h3,h4,h5,h6{
  font-family: var(--inter);
}
p,span,button,li{
  font-family: var(--montserrat);
}